.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

.messagebox{
	width:100px;
	margin-left:30px;
	padding:3px;
	color:#FF0;
}
.messageboxok{
	width:auto;
	padding:3px;
	font-weight:bold;
	font:Arial;
	color:#3F6;
	
}
.messageboxerror{
	width:auto;
	margin-left:30px;
	padding:3px;
	font-weight:bold;
	font:Arial;
	color:#F33;
}

.paginationControl, .paginationRanges {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #767569;
	font-weight: bold;
	cursor: default;
}
.paginationRanges {
	float: right;
	margin-right: 10px;
}
.paginationControl .disabled {
	color: #C8C8C1;
}
.paginationControl a {
	padding-right: 5px;
	padding-left: 5px;
	color: #767569;
}
.paginationControl .current {
	color: #767569;
	font-size: 15px;
	border: 1px solid #D6D5C9;
	background: #F6F5E9;
}
.paginationControl a:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #FF7300;
	text-decoration: none;
	cursor: default;
}
.paginationControl span {
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
}